<div class="px-8">
    <div class="bg-gray-50 p-3 rounded-xl" style="margin-bottom: 10px;">
        <div class="w-1/4" style="display: inline-block; margin-right: 20px;">
            <app-label-field [title]="'Año'"></app-label-field>
            <app-field><select class="input" (change)="onAnioChange()" [(ngModel)]="selectedAnioId" #anioSelect>
                    <option value="" selected disabled>--Seleccione--</option>
                    <option *ngFor="let anio of anios" [value]="anio.id">{{anio.name}}</option>
                </select></app-field>
        </div>
    </div>
</div>
<div class="px-8">
    <app-table [title]="'Agregar grado'" [tableName]="tableName">
        <app-table-asignaciones 
            (asignacionesSearch)="search($event)"
            [asignaciones]="asignaciones" 
        [tableName]="tableName"></app-table-asignaciones> 
    <app-pagination [paginationData]="paginationData"></app-pagination> 
    </app-table>
</div>

