<legend class="tabla__legend">Alumnos matriculados</legend>
<div class="table__search bg-gray-200 p-3 w-full flex justify-between items-center ">
    <div class="flex mx-4" (click)="getSizeOption()">
        <label class="px-4">Grado-Periodo:</label>
        <div class="size">
            <div class="flex justify-between px-2">
                <p>{{gradePeriodNom}}</p>
                <i class="bi bi-caret-down-fill"></i>
            </div>
            <div *ngIf="sizeOption" class="sizeOptions absolute bg-slate-50">
                <div class="sizeOption hover:bg-slate-200" *ngFor="let option of gradePeriods"
                    (click)="matGradoResponse(option.code)">{{option.gradeDTO.name +"-"+ option.anioDTO.name}</div>
            </div>
        </div>
    </div>
    <div class="flex">
        <app-btn-report (click)="matGradoResponseXSL()" class="mx-2"></app-btn-report>
        <app-button (click)="matricula.showModal()" [title]="'Matricular'"></app-button>
    </div>
</div>
<app-modal #matricula [title]="'Ficha de matrícula'">
    <div class="formEnrollment">
        <form [formGroup]="group" (ngSubmit)="save()" class="form">
            <div class="flex justify-between">
                <h2 class="legend__student">Alumno</h2>
                <app-btn-search [title]="'Buscar alumno'" (click)="modalStudents.showModal()"></app-btn-search>
            </div>
            <div class="form__field">
                <div class="field">
                    <app-label-field [title]="'**Apellido Paterno'"></app-label-field>
                    <app-field><input formControlName="apelPat" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="apelPat?.invalid && (apelPat?.dirty || apelPat?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Apellido Materno'"></app-label-field>
                    <app-field><input formControlName="apelMat" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="apelMat?.invalid && (apelMat?.dirty || apelMat?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Nombre'"></app-label-field>
                    <app-field><input formControlName="nombre" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <!-- <div class="field">
                    <app-label-field [title]="'**Apoderado'"></app-label-field>
                    <app-field><input [(ngModel)]="nomParent" [ngModelOptions]="{standalone: true}" (ngModelChange)="searchParent($event)"  class="input" type="text" placeholder="Buscar apoderado por nombre" #apoderado></app-field>
                     <app-required-field class="px-2" *ngIf="fecNaci?.invalid && (fecNaci?.dirty || fecNaci?.touched)" [text]="'*El campo es requerido'"></app-required-field> 
                    <app-search #searchParentModal *ngIf="nomParent!=''">
                        <span (click)="asingParent(parent)" *ngFor="let parent of parents" class="parentSearch block w-full h-full">
                            {{parent.apelPaterno + " " + parent.apelMaterno + " " + parent.nombre}}
                        </span>
                        <span *ngIf="parents.length==0" class="newParent">
                            <label>No se encontraron resultados. </label> 
                            <app-button [title]="'Agregar nuevo'"></app-button>
                        </span>
                    </app-search>
                </div> -->
                <div class="field">
                    <app-label-field [title]="'**Dirección'"></app-label-field>
                    <app-field><input formControlName="direcc" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="direcc?.invalid && (direcc?.dirty || direcc?.touched)"
                        [text]="'*El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'*Telefono de contacto'"></app-label-field>
                    <app-field><input formControlName="telConPri" class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="telConPri?.invalid && (telConPri?.dirty || telConPri?.touched)"
                        [text]="'**El campo requiere 9 caracteres'"></app-required-field>
                </div>
                <!-- <div class="field">
                    <app-label-field [title]="'*Tipo de documento'"></app-label-field>
                    <select  formControlName="tipDoc" class="select cursor-pointer h-10 w-full outline-none px-2">
                        <option value="{{option.value}}" *ngFor="let option of optionsDocumentType">{{option.title}}</option>
                    </select>
                </div> -->
                <div class="field">
                    <app-label-field [title]="'**Número de documento'"></app-label-field>
                    <app-field><input formControlName="numDoc" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="numDoc?.invalid && (numDoc?.dirty || numDoc?.touched)"
                        [text]="'*El campo requiere 8 caracteres'"></app-required-field>
                </div>
                <!--<div class="field">
                    <app-label-field [title]="'**Vacunas'"></app-label-field>
                    <select  formControlName="isVacunado" class="select cursor-pointer h-10 w-full outline-none px-2">
                        <option value="{{option.value}}" *ngFor="let option of optionsVac">{{option.title}}</option>
                    </select>
                </div> -->
                <div class="field">
                    <app-label-field [title]="'**Fecha de Nacimiento'"></app-label-field>
                    <app-field><input formControlName="fecNaci" class="input" type="date"></app-field>
                    <app-required-field class="px-2" *ngIf="fecNaci?.invalid && (fecNaci?.dirty || fecNaci?.touched)"
                        [text]="'*El campo es requerido'"></app-required-field>
                </div>
                <!-- <div class="field">
                    <app-label-field [title]="'**Tipo de Seguro'"></app-label-field>
                    <select  formControlName="tipSeg" class="select cursor-pointer h-10 w-full outline-none px-2">
                        <option value="{{option.value}}" *ngFor="let option of optionsInsuraceType">{{option.title}}</option>
                    </select>
                </div> -->
            </div>
            <div class="flex justify-between">
                <h2 class="legend__student">Año lectivo</h2>
            </div>
            <div class="form__field" [formGroup]="groupEnrollment">
                <div class="field">
                    <app-label-field [title]="'*Grado Periodo'"></app-label-field>
                    <select formControlName="idGradoPeriodo"
                        class="select cursor-pointer h-10 w-full outline-none px-2">
                        <option value="{{option.code}}" *ngFor="let option of gradePeriods">{{option.gradeDTO.name+" - " +
                            option.anioDTO}}</option>
                    </select>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Fecha de matrícula'"></app-label-field>
                    <app-field><input formControlName="fecMatri" class="input" type="date"></app-field>
                    <app-required-field class="px-2" *ngIf="fecNaci?.invalid && (fecNaci?.dirty || fecNaci?.touched)"
                        [text]="'*El campo es requerido'"></app-required-field>
                </div>
            </div>
            <div class="btns">
                <button type="submit" [disabled]="group.invalid"
                    class="field__input--button mx-2 h-9 rounded-3xl text-white">Efectuar matrícula</button>
                <app-btn-cancel (click)="matricula.hiddenModal()" class="btn__cancel mx-2"></app-btn-cancel>
            </div>
        </form>
    </div>
</app-modal>
<app-modal #modalStudents [title]="'Alumnos'">
    <div class="list__alumnos">
        <div class="table__search bg-gray-200 p-3 flex justify-end items-center">
            <label class="mx-4"><b>Buscar</b></label>
            <div class="rounded-3xl bg-slate-50 w-3/4 flex px-4 py-2">
                <i class="bi bi-search"></i>
                <input class="bg-slate-50 w-full outline-none px-6" [(ngModel)]="nomSearch"
                    (ngModelChange)="search($event)" type="search" placeholder="Apellidos">
            </div>
        </div>
        <table class="table bg-gray-50">
            <thead>
                <th>CODIGO</th>
                <th>ALUMNO</th>
                <th>SELECCIONAR</th>
            </thead>
            <tbody *ngIf="listStudents?.length!=0; else empty">
                <tr class="hover:bg-gray-200" (click)="asingStudent(item)" *ngFor="let item of listStudents">
                    <td>{{item.code}}</td>
                    <td>{{item.usuarioDTO.ma_surname + " " + item.usuarioDTO.pa_surname+ " "+ item.usuarioDTO.name}}</td>
                    <td class="flex justify-center">
                        <app-btn-update></app-btn-update>
                    </td>
                </tr>
            </tbody>
        </table>
        <span class="btn_ok block">
            <app-btn-ok (click)="asignStudentForm()" [title]="'Aceptar'"></app-btn-ok>
        </span>
    </div>
</app-modal>
<table class="table bg-gray-50">
    <thead>
        <th *ngFor="let item of head">{{item}}</th>
    </thead>
    <tbody *ngIf="matStudent?.length!=0; else empty">
        <tr *ngFor="let item of matStudent, let i=index">
            <td>{{item.code}}</td>
            <td>{{item.alumnoDTO.usuarioDTO.name}}</td>
            <td>{{item.alumnoDTO.usuarioDTO.numdoc}}</td>
            <td>{{item.alumnoDTO.apoderadoDTO.email}}</td>
            <td>{{item.alumnoDTO.apoderadoDTO.usuarioDTO.tel}}</td>
            <td class="flex justify-center">
                <app-btn-update (click)="matricula.showModal()"></app-btn-update>
                <app-btn-delete (click)="modalDelete.showModal()" [title]="'Eliminar registro'"></app-btn-delete>
            </td>
            <!-- MODAL ELIMINAR -->
            <app-modal [title]="'Eliminar?'" #modalDelete>
                <div class="flex flex-col items-start px-4">
                    <label><b>Codigo: </b>001</label>
                    <label><b>Nombre: </b>2022</label>
                </div>
                <div class="flex py-7 w-full">
                    <app-btn-cancel (click)="modalDelete.hiddenModal()" class="w-1/2 mx-2"></app-btn-cancel>
                    <app-btn-confirm-delete class="w-1/2 mx-2"></app-btn-confirm-delete>
                </div>
            </app-modal>
        </tr>
    </tbody>
</table>
<ng-template #empty>
    <div class="empty">No hay alumnos matriculados en este año</div>
</ng-template>