<legend class="tabla__legend">Alumnos matriculados</legend>
<div class="table__search bg-gray-200 p-3 w-full flex justify-between items-center ">
  
    <div class="flex">
        <app-btn-report  class="mx-2"></app-btn-report>
        <app-btn-add (click)="modalAdd.showModal()" [title]="title"></app-btn-add>
    </div>
</div>
<app-modal [title]="titulo" #modalAdd>
    <form [formGroup]="group" (ngSubmit)="save()" class="form" class="w-full flex flex-wrap justify-between">
        <div class="form__field">
            <h2 class="legend__student">Matricula</h2>
            <div class="field">
                <app-label-field [title]="'Código Matricula'"></app-label-field>
                <app-field><input formControlName="code" class="input" type="code" readonly></app-field>
            </div>
            <div class="field">
                <app-label-field [title]="'**Fecha'"></app-label-field>
                <app-field><input formControlName="date" class="input" type="date" required></app-field>
                
            </div>
            <div class="field">
                <app-label-field [title]="'**Aula'"></app-label-field>
                <app-field><select id="aula" class="input" name="aula" formControlName="aulaDTO" required>
                        <option *ngFor="let aula of aulas"  [ngValue]="aula"
                            [selected]="aula.id === item.aulaDTO.id">{{aula.gradoDTO.name+ "-"+aula.seccionDTO.name  }}</option>
                    </select></app-field>
            </div>
            <div class="field">
                <app-label-field [title]="'**Año Lectivo'"></app-label-field>
                <app-field><select id="anio" class="input" name="anio" formControlName="anioLectivoDTO">
                        <option *ngFor="let anio of anioL" [ngValue]="anio"
                            [selected]="anio.id === item.anioLectivoDTO.id">{{anio.name}}</option>
                    </select></app-field>
            </div>
            <h2 class="legend__student">Alumno</h2>
            <div class="field">
                <app-label-field [title]="'Código'"></app-label-field>
                <app-field><input formControlName="codeA" class="input" type="text" ></app-field>
            </div>
                </div>
                <div class="btns flex py-7 w-full">
                    <button type="submit"  class="field__input--button w-1/2 mx-2 h-9 rounded-3xl text-white"
                        (click)="save()">Guardar</button>
                    <app-btn-cancel (click)="modalAdd.hiddenModal()" (click)="reset()" class="w-1/2 mx-2"></app-btn-cancel>
                </div>
    </form>

</app-modal>

   

<table class="table bg-gray-50">
    <thead>
        <th *ngFor="let item of head">{{item}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of matStudent, let i=index">
            <td>{{item.code}}</td>
            <td>{{item.alumnoDTO.usuarioDTO.name + " " + item.alumnoDTO.usuarioDTO.pa_surname + " " + item.alumnoDTO.usuarioDTO.ma_surname}}</td>
            <td>{{item.alumnoDTO.usuarioDTO.numdoc}}</td>
            <!-- <td>{{item.alumnoDTO.apoderadoDTO.email}}</td>
            <td>{{item.alumnoDTO.apoderadoDTO.tel}}</td> -->
            <td>{{item.date}}</td>
            <td>{{item.anioLectivoDTO.name}}</td>
            <td>{{item.aulaDTO.gradoDTO.name + "-" + item.aulaDTO.seccionDTO.name}}</td>

            <td class="flex justify-center">
                <app-btn-update (click)="form(item)" (click)="modalAdd.showModal()"></app-btn-update>
                <app-btn-delete (click)="modalDelete.showModal()" [title]="'Eliminar '"></app-btn-delete>
            </td>

            <!-- MODAL ELIMINAR -->
            <app-modal [title]="'Eliminar Matricula?'" #modalDelete>
                <div class="flex flex-col items-start px-4">
                    <label><b>Codigo: </b>{{item.code}}</label>
                    <label><b>Nombre: </b>{{item.alumnoDTO.usuarioDTO.name}}</label>
                </div>
                <div class="flex py-7 w-full">
                    <app-btn-cancel (click)="modalDelete.hiddenModal()" class="w-1/2 mx-2"></app-btn-cancel>
                    <app-btn-confirm-delete (click)="delete(item.id)" class="w-1/2 mx-2"></app-btn-confirm-delete>
                </div>
            </app-modal>

        </tr>
    </tbody>
</table>

<ng-template #empty>
    <div class="empty">No hay alumnos matriculados en este año</div>
</ng-template>
