<div class="px-8">
    <div class="bg-gray-50 p-3 rounded-xl" style="margin-bottom: 10px;">
        <div class="w-1/4" style="display: inline-block; margin-right: 20px;">
            <app-label-field [title]="'Año'"></app-label-field>
            <app-field><select class="input" (change)="onAnioChange()" [(ngModel)]="selectedAnioId" #anioSelect>
                    <option value="" selected disabled>--Seleccione--</option>
                    <option *ngFor="let anio of anios" [value]="anio.id">{{anio.name}}</option>
                </select></app-field>
        </div>
        <div class="w-1/4" style="display: inline-block; margin-right: 20px;">
            <app-label-field [title]="'Periodo'"></app-label-field>
            <app-field><select class="input" (change)="onPeriodoChange()" [(ngModel)]="selectedPeriodId" #periodSelect>
                    <option value="" selected disabled>--Seleccione--</option>
                    <option *ngFor="let period of periods" [value]="period.id">{{period.name}}</option>
                </select></app-field>
        </div>
        <div class="w-1/4" style="display: inline-block; margin-right: 20px;">
            <app-label-field [title]="'Cursos'"></app-label-field>
            <app-field><select class="input" (change)="onCursoChange()" [(ngModel)]="selectedCursoId" #cursoSelect>
                    <option value="" selected disabled>--Seleccione--</option>
                    <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.name}}
                    </option>
                </select></app-field>
        </div>
    </div>
</div>

<div class="px-8">
    <app-table [title]="'Notas'" [tableName]="tableName">
        <app-table-asistencias
            [asistencias]="asistencias"
        >
        </app-table-asistencias>
    </app-table>
</div>
<app-modal-response [title]="msjResponse" [successful]="successful" #modalOk></app-modal-response>
