<div class="container__login">
    
<div class="container">
    <div class="card__login">
        <section class="card__section card__section--img">
            <!-- <img src="assets/img/essalud_white.png" />  -->
            <mat-label class="title__img text__welcome">Bienvenido!</mat-label>
            <mat-label class="title__img">Sé parte de la ayuda</mat-label>
        </section>
        <mat-card class="card__section card__section--login">
            <div class="legend">
                <img src="assets/img/essalud.png" />  
            </div>
            <div class="field__container">
                <form [formGroup]="formLogin" (ngSubmit)="send()">
                    <div class="error" *ngIf="responseCode"> 
                        <mat-error class="field error__auth">{{mensajeAuthError}}</mat-error>
                    </div>
                    <mat-form-field class="field" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input type="text" matInput placeholder="Usuario" maxlength="60" formControlName="userName" autocomplete="off">
                        <mat-error *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)">{{'Campo obligatorio'}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="field" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">{{'Campo obligatorio'}}</mat-error>
                    </mat-form-field>
                    <!-- <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"formControlName="recaptcha">
                </ngx-recaptcha2> -->
                <br><br>
                    <button type="submit" class="btn__login--input field" mat-button>Iniciar sesión</button>
                </form>
            </div> 
        </mat-card>
    </div>
</div>

</div>


