.section__login{
    // background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../../../../../assets/img/portada2-RCA.jpg');
    background-color: rgb(236, 238, 240);
    box-shadow: 0 0 2px 0 rgb(98, 95, 95);
    background-size: cover;
}
@media screen and(max-width:950px) {
    .section__login{
        background: none;
        background-color: rgb(255, 255, 255);
    }        
}

