<section class="review flex flex-wrap h-screen">
    <section class="review__section flex md:h-screen w-full md:w-1/2">
        <div class="reseña__content flex flex-col justify-center items-center w-full xl:w-2/3">
            <h2 class="title">Reseña</h2>
            <p class="p__text">
                La intitución educativa, se fundó en el año 2014, con R.D.N° 000747-2014/GR.LAMB/GRED/UGEL-LAM;
                donde abrió sus puertas para ofrecer una propuesta educativa diferenciada, centrada en la excelencia
                académica, formación integral y el acompañamiento personalizado, trabajando en conjunto con la familia.
            </p>
        </div>
    </section>
    <section class="review__section mision__vision md:h-screen w-full md:w-1/2">
        <div class="mision h-auto w:full xl:w-1/2 xl:m-4">
            <h2 class="title">Misión</h2>
            <p class="p__text">
                Somos una institución educativa que que acompaña la formación integral de nuestros niños y estamos comprometidos
                con los valores de amor ambiental, caridad y respeto.
            </p>
        </div>
        <div class="vision h-auto w-full xl:w-1/2 xl:m-4">
            <h2 class="title">Visión</h2>
            <p class="p__text">
                Ser reconocidos como una destacada institución educativa, cuyo método personalizado
                de enseñanza ayude en la formación integral del niño y a la vez sirva de nexo entre 
                el hogar y la escuela
            </p>
        </div>
    </section>
</section>
