table{
    width: 100%;
    font-size: var(--font-size-table);
    & th, tr, td{
        padding: 0.6rem 1rem;
        text-align: center;
    }
}
.select{
    border: 1px solid rgb(177, 174, 174);
    border-radius: 0.3rem;
    color: rgb(105, 105, 105);
}
.input{
    outline: none;
    width: 100%;
    padding-left: 1rem;
    background:none;
}
.field__input--button{
    background-color: var(--const-color-blue);
    padding: 0 1.4rem;
    &:disabled{
        background-color: rgb(126, 162, 229);
    }
    &:enabled{
        &:hover{
            background-color: var(--const-color-blue-hover);
        }
    }
}

//Agregar curso
.form{
    width: 100%;
    min-width: 100px;
}
.form__field{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.2rem 0.4rem;
}
.btns{
    height: 4rem;
}
.textArea{
    width: 100%;
    border: 1px solid rgb(177, 174, 174);
    outline: none;
    padding: 0.6rem;
}


.plomo-input {
    background-color: #f2f2f2; /* Color de fondo plomo claro */
    border: 1px solid #ccc; /* Borde del campo de entrada */
    padding: 8px; /* Espaciado interno para que no quede muy ajustado */
    color: #333; /* Color del texto en el campo de entrada */
    border-radius: 4px; /* Esquinas redondeadas para un aspecto más agradable */
    font-size: 14px; /* Tamaño de fuente para el texto en el campo de entrada */
}