<div class="px-8">
    <div class="bg-gray-50 p-3 rounded-xl" style="margin-bottom: 10px;">
        <form [formGroup]="group" (ngSubmit)="save()" class="form">

            <div formGroupName="usuarioDTO" class="form__field">
                <div class="field">
                    <app-label-field [title]="'**Apellido Paterno'"></app-label-field>
                    <app-field><input formControlName="pa_surname" class="input" type="text" readonly></app-field>
                    <app-required-field class="px-2"
                        *ngIf="pa_surname?.invalid && (pa_surname?.dirty || pa_surname?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Apellido Materno'"></app-label-field>
                    <app-field><input formControlName="ma_surname" readonly class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="ma_surname?.invalid && (ma_surname?.dirty || ma_surname?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Nombre'"></app-label-field>
                    <app-field><input formControlName="name" readonly class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Fecha de nacimiento'"></app-label-field>
                    <app-field><input formControlName="birthdate" class="input" type="date"></app-field>
                    <app-required-field class="px-2" *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Teléfono'"></app-label-field>
                    <app-field><input formControlName="tel" maxlength="9"  class="input" type="tel"></app-field>
                    <app-required-field class="px-2" *ngIf="tel?.invalid && (tel?.dirty || tel?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Correo'"></app-label-field>
                    <app-field><input formControlName="email" class="input" type="email"></app-field>
                    <app-required-field class="px-2" *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Tipo de documento'"></app-label-field>
                    <select formControlName="type_doc" class="select cursor-pointer h-10 w-full outline-none px-2">
                        <option value="{{option.value}}" *ngFor="let option of optionsDocumentType">{{option.title}}
                        </option>
                    </select>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Número de documento'"></app-label-field>
                    <app-field><input formControlName="numdoc" readonly class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="numdoc?.invalid && (numdoc?.dirty || numdoc?.touched)"
                        [text]="'*El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Usuario'"></app-label-field>
                    <app-field><input formControlName="nombreUsuario" class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="nombreUsuario?.invalid && (nombreUsuario?.dirty || nombreUsuario?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
            </div>
            <div class="form__field">
                <div class="field">
                    <app-label-field [title]="'Enfermedades'"></app-label-field>
                    <app-field><input formControlName="diseases" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="diseases?.invalid && (diseases?.dirty || diseases?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'1° contacto-nombre'"></app-label-field>
                    <app-field><input formControlName="namecon_pri" class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="namecon_pri?.invalid && (namecon_pri?.dirty || namecon_pri?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'1° contacto-número'"></app-label-field>
                    <app-field><input formControlName="telcon_pri" class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="telcon_pri?.invalid && (telcon_pri?.dirty || telcon_pri?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'2° contacto-nombre'"></app-label-field>
                    <app-field><input formControlName="namecon_sec" class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="namecon_sec?.invalid && (namecon_sec?.dirty || namecon_sec?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'2° contacto-número'"></app-label-field>
                    <app-field><input formControlName="telcon_sec" class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="telcon_sec?.invalid && (telcon_sec?.dirty || telcon_sec?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'Vacunas'"></app-label-field>
                    <app-field><input formControlName="vaccine" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="vaccine?.invalid && (vaccine?.dirty || vaccine?.touched)"
                        [text]="'*El campo requiere 8 caracteres'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'Tipo de seguro'"></app-label-field>
                    <app-field><input formControlName="type_insurance" class="input" type="string"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="type_insurance?.invalid && (type_insurance?.dirty || type_insurance?.touched)"
                        [text]="'*El campo es requerido'"></app-required-field>
                </div>
            </div>
            <div formGroupName="apoderadoDTO" class="form__field">
                <div class="field">
                    <app-label-field [title]="'Código Apoderado'"></app-label-field>
                    <app-field><input formControlName="code" readonly class="input" type="text"></app-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'Apoderado'"></app-label-field>
                    <app-field><input formControlName="name" readonly class="input" type="text"></app-field>
                </div>
            </div>
            
            <div class="btns flex py-7 w-full">
                <button type="submit" [disabled]="group.invalid"
                    class="field__input--button w-1/2 mx-2 h-9 rounded-3xl text-white" disabled="form.invalid">Guardar</button>
                <app-btn-cancel class="w-1/2 mx-2"></app-btn-cancel>
            </div>
        </form>
    </div>
</div>

<app-modal-response [title]="msjResponse" [successful]="successful" #modalOk></app-modal-response>

