.container__form{
    background-color: rgb(251.2, 251.5, 251.5);
    padding: 2.5rem;
    font-family: var(--font-family-primary);
}
.form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    gap: 0 1rem;
}
.field{
    font-family: var(--font-family-primary);
}
.section{
    margin-bottom: 1.5rem;
}
.section__time{
    display: flex;
    justify-content: space-between;
    .field__time{
        width: 49%;
        cursor: pointer;
        & input{
            cursor: pointer;
        }
    }
}
.field--radio{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .radio__option{
        margin-right: 1rem;
    }
}
.field__text--area{
    width: 100%;
}
.btn__login--guardar:disabled{
    color: #fff;
}



