<div class="px-8">
    <div class="w-1/4" style="display: inline-block; margin-right: 20px;">
        <app-label-field [title]="'Periodo'"></app-label-field>
        <app-field><select class="input" (change)="onPeriodoChange()" [(ngModel)]="selectedPeriodId" #periodSelect  >
                <option value="" selected disabled>--Seleccione--</option>
                <option *ngFor="let period of periods" [value]="period.id">{{period.name}}</option>
            </select></app-field>
    </div>
    <div class="w-1/4" style="display: inline-block; margin-right: 20px;">
        <app-label-field [title]="'Aulas'"></app-label-field>
    <app-field><select class="input" (change)="onAulasChange()" [(ngModel)]="selectedAulaId" #aulaSelect>
            <option value="" selected disabled>--Seleccione--</option>
            <option *ngFor="let aula of aulas" [value]="aula.id">{{aula.gradoDTO.name}}-{{aula.seccionDTO.name}}</option>
        </select></app-field>
    </div>
    <div class="w-1/4" style="display: inline-block;">
        <app-label-field [title]="'Cursos'"></app-label-field>
    <app-field><select class="input" (change)="onCourseChange()" [(ngModel)]="selectedCourseId" #courseSelect>
            <option value="" selected disabled>--Seleccione--</option>
            <option *ngFor="let course of courses" [value]="course.id">{{course.name}}</option>
        </select></app-field>
    </div>
</div>
<div class="px-8">
    <app-table [title]="'Agregar Notas'" [tableName]="tableName">
        <app-table-nota 
            (evaluacionDelete)="delete($event)" 
            (evaluacionSave)="save($event)"
            (evaluacionSearch)="search($event)" 
            [tableName]="tableName"
            [evaluaciones]="evaluaciones">
        </app-table-nota>
        <app-pagination [paginationData]="paginationData"></app-pagination>
    </app-table>
</div>
<app-modal-response [title]="msjResponse" [successful]="successful" #modalOk></app-modal-response>