.header{
    background-color: var(--bg-color);
    font-family: var(--font-family-primary-ruda);
    color: var(--text-color-primary);
    height: 10vh;
    z-index: 999;
    box-shadow: 0 0 5px 0 rgb(98, 95, 95);
    & figure i{
        transform: scale(1.3);
    }
}

// @media (max-width: 768px){
//     .nav{
//         background-color: orangered;
//         position: fixed;
//         width: 90vw;
//         top: 10vh;
//     }
// }

    

    