
<app-header-student class="header"></app-header-student>
<div class="dashboard">
    <app-nav-student></app-nav-student>
    <div class="dashboard__cont">
        <header class="header_dashboard bg-slate-500">
            <legend>INTRANET ESTUDIANTE</legend>
            <div class="header__icon">
                <span><i class="bi bi-bell-fill"></i></span>
                <span><i class="bi bi-chat-dots-fill"></i></span>
            </div>
        </header>

        <router-outlet class="router__outlet p-2"></router-outlet>
    </div>
</div>
