.news{
    height: 100%;
}

.redirect{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.redirect__link{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
        color: rgb(228, 218, 218);
    }
}
.event{
    //background: url('../../../../../../assets/img/portada4-RCA.jpg');
    // background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url('../../../../../../assets/img/portada6-RCA.jpg');
    background-size: cover;
    height: 6rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }   
}
.event::before{
    content: "";
    width: 20%;
    height: 6rem;
    background-color: #000;
    position: absolute;
    opacity: 0.1;
}
.event_absolute{
    width: auto;
    background-color: rgb(29, 40, 96);
    font-size: 0.75rem;
}

.img{
    height: 100%;
    object-fit: cover;
}
.news__title{
    font-size: 1.4rem;
}
.event__desc{
    padding: 0.5rem 1rem;
}

//form
.form{
    width: 500px;
    min-width: 100px;
}
.input{
    outline: none;
    width: 100%;
    padding-left: 1rem;
    background:none;
}

.field{
    width: 48.5%;
    margin-bottom: 0.5rem;
}
.select{
    border: 1px solid rgb(177, 174, 174);
    border-radius: 0.3rem;
    color: rgb(105, 105, 105);
}

.field__input--button{
    background-color: var(--const-color-blue);
    padding: 0 1.4rem;
    &:disabled{
        background-color: rgb(126, 162, 229);
    }
    &:enabled{
        &:hover{
            background-color: var(--const-color-blue-hover);
        }
    }
}
.textArea{
    width: 100%;
    border: 1px solid rgb(177, 174, 174);
    outline: none;
    padding: 0.6rem;
}


//boton ctualizar
.span__btn--update{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #fff;
    border-radius: 50%;
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
    &:hover{
        background-color: var(--const-color-blue);
    }
    & i{
        cursor: pointer;
    }
}

