<div class="table__search bg-gray-200 p-3 flex justify-end items-center">
  <label class="mx-4"><b>{{tableName}}</b></label>
  <div class="rounded-3xl bg-slate-50 w-1/3 flex px-4 py-2">
    <i class="bi bi-search"></i>
    <input class="bg-slate-50 w-full outline-none px-6" [(ngModel)]="nomSearch" (ngModelChange)="search($event)"
      type="search" placeholder="Buscar">
  </div>
  <app-btn-add (click)="modalAdd.showModal()" [title]="title" (click)="onAddButtonClick()"></app-btn-add>
</div>

<!-- Modal Agregar -->


<!-- Modal Editar -->
<app-modal [successful]="successful" (close_modal)="getCloseModal()" #modalAdd>
  <h1 class="text-center text-3xl font-bold">{{ titulo }}</h1>
  <form [formGroup]="group" (ngSubmit)="save()" class="form">
    <div formGroupName="apoderadoDTO" class="form__field">
      <div class="field">
        <app-label-field [title]="'Apoderado'"></app-label-field>
        <app-field>
          <input formControlName="name" class="input" type="text" #searchApoderado
            (input)="searchApoderados(searchApoderado.value)">
        </app-field>
        <div class="field">
          <app-search *ngIf="apoderados && apoderados.length > 0 && searchApoderado.value.length>0">
            <span (click)="selectApoderado(apoderado)" *ngFor="let apoderado of apoderados" class="block w-full h-full">
              {{ apoderado.numdoc + ' - ' + apoderado.pa_surname + ' ' + apoderado.ma_surname + ' ' + apoderado.name }}
            </span>
          </app-search>
          <span *ngIf="apoderados.length === 0 && existsApoderado" class="newApoderado">
            <label>No se encontraron resultados.</label>
          </span>
        </div>
      </div>
    </div>
    <div class="form__field" formGroupName="usuarioDTO">
      <!-- Usuario -->
      <div class="field">
        <app-label-field [title]="'**Apellido Paterno'"></app-label-field>
        <app-field><input formControlName="pa_surname" class="input" type="text"></app-field>
        <app-required-field class="px-2" *ngIf="pa_surname?.invalid && (pa_surname?.dirty || pa_surname?.touched)"
          [text]="'**El campo es requerido'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Apellido Materno'"></app-label-field>
        <app-field><input formControlName="ma_surname" class="input" type="text"></app-field>
        <app-required-field class="px-2" *ngIf="ma_surname?.invalid && (ma_surname?.dirty || ma_surname?.touched)"
          [text]="'**El campo es requerido'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Nombre'"></app-label-field>
        <app-field><input formControlName="name" class="input" type="text"></app-field>
        <app-required-field class="px-2" *ngIf="name?.invalid && (name?.dirty || name?.touched)"
          [text]="'**El campo es requerido'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Fecha de Nacimiento'"></app-label-field>
        <app-field><input class="input" formControlName="birthdate" type="date"></app-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Tipo de documento'"></app-label-field>
        <app-field>
          <select formControlName="type_doc" class="input" type="string" (change)="onChangeSelect($event)">
            <option value="" disabled selected>-- Seleccione --</option>
            <option *ngFor="let tipodocumento of tiposdocumentos" [value]="tipodocumento">
              {{ tipodocumento }}
            </option>
          </select>
        </app-field>
        <app-required-field class="px-2"
          *ngIf="group.get('type_insurance')?.invalid && (group.get('type_insurance')?.dirty || group.get('type_insurance')?.touched)"
          [text]="'*El campo es requerido'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Número de documento'"></app-label-field>
        <app-field><input formControlName="numdoc" class="input"></app-field>
        <app-required-field class="px-2" *ngIf="numdoc?.invalid && (numdoc?.dirty || numdoc?.touched)"
          [text]="mensaje"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'Teléfono de contacto'"></app-label-field>
        <app-field><input formControlName="tel" class="input" type="number" inputmode="numeric" min="100000000"
            max="999999999"></app-field>
        <app-required-field class="px-2" *ngIf="tel?.invalid && (tel?.dirty || tel?.touched)"
          [text]="'**El campo requiere 9 caracteres numéricos'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Correo'"></app-label-field>
        <app-field><input formControlName="email" class="input" type="email"></app-field>
        <app-required-field class="px-2" *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          [text]="'**El campo es de tipo correo'"></app-required-field>
      </div>
      <div class="field" *ngIf="titulo === 'Registrar Alumno'">
        <app-label-field [title]="'**Usuario'"></app-label-field>
        <app-field><input formControlName="nombreUsuario" class="input" type="text"></app-field>
        <app-required-field class="px-2"
          *ngIf="nombreUsuario?.invalid && (nombreUsuario?.dirty || nombreUsuario?.touched)"
          [text]="'**El campo es requerido'"></app-required-field>
      </div>
      <div class="field" *ngIf="titulo === 'Registrar Alumno'">
        <app-label-field [title]="'**Password'"></app-label-field>
        <app-field>
          <input formControlName="password" [type]="showPassword ? 'text' : 'password'"
            placeholder="Contraseña de usuario" class="input" />
          <button class="div_icon_mostrar" type="button" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
          </button>
        </app-field>
        <app-required-field class="px-2" *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          [text]="'**El campo es requerido'"></app-required-field>
      </div>
    </div>
    <div class="form__field">
      <div class="field">
        <app-label-field [title]="'**1° contacto-nombre'"></app-label-field>
        <app-field><input formControlName="namecon_pri" class="input" type="text"></app-field>
        <app-required-field class="px-2" *ngIf="namecon_pri?.invalid && (namecon_pri?.dirty || namecon_pri?.touched)"
          [text]="'**El campo es requerido'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**1° contacto-Celular'"></app-label-field>
        <app-field><input formControlName="telcon_pri" class="input" type="number" min="100000000"
            max="999999999"></app-field>
        <app-required-field class="px-2" *ngIf="telcon_pri?.invalid && (telcon_pri?.dirty || telcon_pri?.touched)"
          [text]="'**El campo requiere 9 caracteres numéricos'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'2° contacto-nombre'"></app-label-field>
        <app-field><input formControlName="namecon_sec" class="input" type="text"></app-field>
        <app-required-field class="px-2" *ngIf="namecon_sec?.invalid && (namecon_sec?.dirty || namecon_sec?.touched)"
          [text]="'**El campo es requerido'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'2° contacto-Celular'"></app-label-field>
        <app-field><input formControlName="telcon_sec" class="input" type="number" min="100000000" max="999999999"
            s></app-field>
        <app-required-field class="px-2" *ngIf="telcon_sec?.invalid && (telcon_sec?.dirty || telcon_sec?.touched)"
          [text]="'**El campo requiere 9 caracteres numéricos'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Enfermedades'"></app-label-field>
        <app-field><input formControlName="diseases" class="input" type="text"></app-field>
        <app-required-field class="px-2" *ngIf="diseases?.invalid && (diseases?.dirty || diseases?.touched)"
          [text]="'**El campo es requerido'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Vacunas'"></app-label-field>
        <app-field><input formControlName="vaccine" class="input" type="text"></app-field>
        <app-required-field class="px-2" *ngIf="vaccine?.invalid && (vaccine?.dirty || vaccine?.touched)"
          [text]="'*El campo requiere 8 caracteres'"></app-required-field>
      </div>
      <div class="field">
        <app-label-field [title]="'**Tipo de seguro'"></app-label-field>
        <app-field>
          <select formControlName="type_insurance" class="input" type="string">
            <option value="" disabled selected>-- Seleccione --</option>
            <option *ngFor="let tipoSeguro of tiposseguro" [value]="tipoSeguro">
              {{ tipoSeguro }}
            </option>
          </select>
        </app-field>
        <app-required-field class="px-2"
          *ngIf="group.get('type_insurance')?.invalid && (group.get('type_insurance')?.dirty || group.get('type_insurance')?.touched)"
          [text]="'*El campo es requerido'"></app-required-field>
      </div>
    </div>
    <div style="margin-top: 10px;">
      <p style="font-size: 11px;">**Campos obligatorios</p>
    </div>
    <div class="btns flex py-7 w-full">
      <button type="submit" [disabled]="group.invalid"
        class="field__input--button w-1/2 mx-2 h-9 rounded-3xl text-white">Guardar</button>
      <app-btn-cancel (click)="modalAdd.cancelar()" class="w-1/2 mx-2"></app-btn-cancel>
    </div>

  </form>
</app-modal>

<app-modal [successful]="successful" (close_modal)="getCloseModal()" #modalChangue>

  <h1 class="text-center text-3xl font-bold">Actualizar Credenciales</h1>
  <div class="flex flex-col items-start px-4">
    <label><b>Alumno: </b>{{alumno}}</label>
  </div>
  <form [formGroup]="group2" class="form">
    <div>
      <app-label-field [title]="'**Nueva Contraseña'"></app-label-field>
      <app-field>
        <input formControlName="newPassword" [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña de usuario" class="input" (ngModelChange)="verificarPassword()" />
        <button class="div_icon_mostrar" type="button" (click)="togglePasswordVisibility()">
          <i [class]="showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
        </button>
      </app-field>
      <app-required-field class="px-2" *ngIf="passwordC?.invalid && (passwordC?.dirty || passwordC?.touched)"
        [text]="'**El campo es requerido'"></app-required-field>
    </div>
  </form>
  <div>
    <app-label-field [title]="'**Repetir Contraseña'"></app-label-field>
    <app-field>
      <input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña de usuario" class="input"
        [(ngModel)]="password2" (ngModelChange)="verificarPassword()" />
      <button class="div_icon_mostrar" type="button" (click)="togglePasswordVisibility()">
        <i [class]="showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
      </button>
    </app-field>
    <app-required-field class="px-2" *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      [text]="'**El campo es requerido'"></app-required-field>
  </div>
  <app-required-field class="px-2" *ngIf="!coinciden" [text]="texto"></app-required-field>

  <div style="margin-top: 10px;">
    <p style="font-size: 11px;">**Campos obligatorios</p>
  </div>
  <div class="btns flex py-7 w-full">
    <button [disabled]="group2.invalid || !coinciden"
      class="field__input--button w-1/2 mx-2 h-9 rounded-3xl text-white" (click)="save2()">Guardar</button>
    <app-btn-cancel (click)="modalChangue.cancelar()" (click)="cancelar()" class="w-1/2 mx-2"></app-btn-cancel>
  </div>

</app-modal>

<table class="table bg-gray-50">
  <thead>
    <th *ngFor="let item of head">{{item}}</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of students, let i=index">
      <td>{{item.code}}</td>
      <td>{{item.usuarioDTO.pa_surname + " "+ item.usuarioDTO.ma_surname}}</td>
      <td>{{item.usuarioDTO.name}}</td>
      <td>{{(item.usuarioDTO.type_doc|uppercase) + "-" + item.usuarioDTO.numdoc}}</td>
      <td>{{item.usuarioDTO.email}}</td>
      <td>{{item.usuarioDTO.tel}}</td>
      <td>{{item.vaccine}}</td>
      <td>{{item.type_insurance}}</td>
      <td>{{item.namecon_pri + " - " + item.telcon_pri}} | {{item.namecon_sec + "-" + item.telcon_sec}}</td>
      <td class="flex justify-center items-center">
        <app-btn-update (click)="form(item)" (click)="modalAdd.showModal()"
          (click)="onUpdateButtonClick(item)"></app-btn-update>
        <app-btn-delete (click)="modalDelete.showModal()"></app-btn-delete>
        <app-btn-view (click)="redirectToDatosPersonales(item.id)">
        </app-btn-view>
        <app-btn-update (click)="form2(item)" (click)="modalChangue.showModal()"
        ></app-btn-update>
      </td>
      <app-modal [title]="'Eliminar alumno?'" #modalDelete>
        <div class="flex flex-col items-start px-4">
          <label><b>Codigo: </b>{{item.code}}</label>
          <label><b>Nombre: </b>{{item.usuarioDTO.pa_surname +' '+ item.usuarioDTO.ma_surname}}
            {{item.usuarioDTO.name}}</label>
        </div>
        <div class="flex py-7 w-full">
          <app-btn-cancel (click)="modalDelete.cancelar()" class="w-1/2 mx-2"></app-btn-cancel>
          <app-btn-confirm-delete (click)="delete(item.id)" (click)="modalDelete.refresh()"
            class="w-1/2 mx-2"></app-btn-confirm-delete>
        </div>
      </app-modal>
    </tr>
  </tbody>
</table>