<!-- <div class="form__field w-full h-10 flex lg:bg-slate-200">
    <span class="h-full field__icon flex justify-center items-center"><i class="{{field.icon}}"></i></span>
    <input class="field__input" type="{{field.type}}" placeholder="{{field.placeholder}}">
</div> -->
<div class="form__field w-full h-10 flex">
    <!-- <span class="h-full field__icon flex justify-center items-center"></span> -->
    <!-- <input class="field__input" type="text" placeholder="Ingrese nombre"> -->
    <ng-content></ng-content>
</div>