<div class="table__search bg-gray-200 p-3 flex justify-end items-center">
    <label class="mx-4"><b>{{tableName}}</b></label>
    <div class="rounded-3xl bg-slate-50 w-1/3 flex px-4 py-2">
        <i class="bi bi-search"></i>
        <input class="bg-slate-50 w-full outline-none px-6" [(ngModel)]="nomSearch" (ngModelChange)="search($event)"
            type="search" placeholder="Buscar">
    </div>
</div> 

<!-- Tabla donde se muestra los datos -->
<table>
    <thead>
        <th *ngFor="let item of head">{{item}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let asistencia of asistencias">
        <td>{{ asistencia.code }}</td> 
        <td>{{ asistencia.alumnoDTO.usuarioDTO.name}} {{asistencia.alumnoDTO.usuarioDTO.pa_surname}} {{asistencia.alumnoDTO.usuarioDTO.ma_surname}}</td>
        <td>{{ asistencia.claseDTO.date}}</td>
        <td>{{ asistencia.state}}</td>
      </tr>
    </tbody>
  </table>

