<!-- <div class="table__search bg-gray-200 p-3 flex justify-end items-center">
    <label class="mx-4"><b>{{tableName}}</b></label>
    <div class="rounded-3xl bg-slate-50 w-1/3 flex px-4 py-2">
        <i class="bi bi-search"></i>
        <input class="bg-slate-50 w-full outline-none px-6" [(ngModel)]="nomSearch" (ngModelChange)="search($event)"
            type="search" placeholder="Buscar">
    </div>
    <app-btn-add (click)="modalAdd.showModal()" [title]="title"></app-btn-add>
</div> -->
<!-- SELECCION -->


<form [formGroup]="group" class="w-full flex flex-wrap justify-between" (submit)="filtrarAsistencias()" >
    <div class="field">
        <app-label-field [title]="'Periodo'"></app-label-field>
        <app-field><select id="periodo" class="input" name="periodo" formControlName="periodoDTO">
                <option *ngFor="let periodo of periodos" [ngValue]="periodo" [selected]="periodo.id === item.claseDTO.periodoDTO.id">{{periodo.name+' '+ periodo.anio_lectivoDTO.name}}</option>
            </select></app-field>
    </div>
    <div class="field">
        <app-label-field [title]="'Aula'"></app-label-field>
        <app-field><select id="aula" class="input" name="aula" formControlName="aulaDTO">
                <option *ngFor="let classroom of classrooms" [ngValue]="classroom" [selected]="classroom.id === item.claseDTO.docentexcursoDTO.aulaDTO.id">{{ classroom.gradoDTO.name  +  '-' + classroom.seccionDTO.name}}</option>
            </select></app-field>
    </div>
    <div class="field">
        <app-label-field [title]="'Curso'"></app-label-field>
        <app-field><select id="curso" class="input" name="curso" formControlName="cursoDTO">
                <option *ngFor="let curso of courses" [ngValue]="curso" [selected]="curso.id === item.claseDTO.docentexcursoDTO.cursoDTO.id">{{curso.name}}</option>
            </select></app-field>
    </div>

    <div class="btns flex py-7 w-full">
        <button type="submit" [disabled]="group.invalid" class="field__input--button w-1/2 mx-2 h-9 rounded-3xl text-white">Filtrar</button>
    </div>

</form>

<!-- Tabla donde se muestra los datos -->
<table>
    <thead>
        <th *ngFor="let item of head">{{item}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let asistencia of asistenciasFiltradas">
        <td>{{ asistencia.code }}</td> 
        <td>{{ asistencia.alumnoDTO.usuarioDTO.name}} {{asistencia.alumnoDTO.usuarioDTO.pa_surname}} {{asistencia.alumnoDTO.usuarioDTO.ma_surname}}</td>
        <td>{{ asistencia.claseDTO.date}}</td>
        <td>{{ asistencia.state}}</td>
      </tr>
    </tbody>
  </table>






<!-- <table class="table bg-gray-50">
    <thead>
        <th *ngFor="let item of head">{{item}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of asistencia, let i=index">
            <td>{{item.code}}</td>
            <td>{{item.alumnoDTO.usuarioDTO.pa_surname+" "+item.alumnoDTO.usuarioDTO.ma_surname+" "+item.alumnoDTO.usuarioDTO.name}}</td>
            <td>{{item.state}}</td>
    
            <td class="flex justify-center">
                <app-btn-update (click)="form(item)" ></app-btn-update>
                <app-btn-delete (click)="modalDelete.showModal()" [title]="'Eliminar'"></app-btn-delete>
            </td>

            <app-modal [title]="'Eliminar?'" #modalDelete>
                <div class="flex flex-col items-start px-4">
                    <label><b>Codigo: </b>{{item.code}}</label>
                    <label><b>Estado: </b>{{item.state}}</label>
                    <label><b>Alumno: </b>{{item.alumnoDTO.usuarioDTO.name}}</label>
                    <label><b>Clase: </b>{{item.claseDTO.date}}</label>
                </div>
                <div class="flex py-7 w-full">
                    <app-btn-cancel (click)="modalDelete.hiddenModal()" class="w-1/2 mx-2"></app-btn-cancel>
                    <app-btn-confirm-delete (click)="delete(item.id)" class="w-1/2 mx-2"></app-btn-confirm-delete>
                </div>
            </app-modal>
        </tr>
    </tbody>
</table> -->
