.container__form{
    background-color: rgb(251.2, 251.5, 251.5);
    padding: 2.5rem;
    font-family: var(--font-family-primary);
}
.form{
    width: 100%;
    .form__div{
        width: 100%;
    }
}

.field{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0;
}
.item__test{
    width: 60%;
    min-width: max-content;
}
.radio__option{
    margin-left: 2rem;
}