
.span__btn{
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--const-color-blue);
  border-radius: 50%;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  & i{
      cursor: pointer;
  }
}

.span__btn--update{
  background-color: rgb(20, 94, 24);
  height: 2rem;
  width: 2rem;
  margin: 0 0.3rem;

  &:hover{
      background-color: rgb(37, 111, 41);
  }
}
