<!-- PRINCIPAL -->

<section class="main h-full">
    <div class="main__container">
        <h1 class="section main__title lg:inline-block text-2xl lg:text-6xl">CORPORACIÓN EDUCATIVA</h1>
        <h1 class="section main__title--name lg:text-5xl">REAL COLEGIO ARCE</h1>
        <!-- <h3 class="section main__desc">Sigamos adelante con la educación</h3> -->
        <div class="section main__div__button">
            <a class="main__button rounded-3xl text-white" href="#">
                <b>Solicita información</b>
            </a>
        </div>
    </div>
</section>

<!-- QUIENES SOMOS -->

<section class="section__about">
    <div class="section__about__div about">
        <h1 class="about__subtitle">Quienes somos</h1>
        <p>Desde 2014 la IEP “REAL COLEGIO DEL ARCE” abrió sus puertas para ofrecer una propuesta educativa diferenciada, 
            centrada en la excelencia académica, formación integral y el acompañamiento personalizado,
            trabajando en conjunto con la familia.
        </p>
        <app-button class="btn__about" [title]="'Conoce más'"></app-button>
    </div>
    <div class="section__about__div image">
        <img src="'../../../../../../../../../assets/img/portada10-RCA.jpg">
    </div>
</section>
