<footer class="footer flex flex-col lg:flex-row">
    <div class="Footer-div lg:w-3/5">
      
    </div>
    <div class="Footer-div flex justify-center flex-col h-full lg:w-2/5">
        <span>
            <i class="bi bi-geo-alt-fill"></i>
            <label>Urbanización LAS DUNAS Mz "A LTE. 21 <br> Carretera San Roque 14013 Lambayeque, Perú"</label>
        </span>
        <span>
            <i class="bi bi-facebook"></i>
            <label>Corporación Educativa Real Colegio Arce</label>
        </span>
        <span class="flex">
            <i class="bi bi-envelope-check-fill"></i>
            <div class="flex flex-col">
                <label>promotoria@realcolegioarce.edu.pe</label>
                <label>tramitevirtual@realcolegioarce.edu.pe</label>
            </div>
        </span>
        <span class="flex">
            <i class="bi bi-whatsapp"></i>
            <div class="flex flex-col">
                <label>952 652 753</label>
                <label>943 240 386</label>
            </div>
        </span>
    </div>
</footer>
