<header>{{currentUser.persona.nombreCompleto | uppercase}}
    <span><mat-icon class="icon-user">perm_identity</mat-icon></span>
</header>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <img src="assets/img/essalud.png" />  
      <li (click)="redirectTo('mis-asegurados')" class="item-menu">Mis asegurados</li>
      <li (click)="redirectTo('registro-lecturas')" class="item-menu">Reportes</li>
      <li (click)="logout()" class="item-menu item-menu-logout"><label>Salir</label><mat-icon>power_settings_new</mat-icon></li>
    </mat-drawer>
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon class="icon-menu">list</mat-icon>
      </button>
    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
