.filter-date{
    display: flex;
    padding: 1rem 0;
    align-items: center;
    font-family: var(--font-family-primary);
    .date{
        margin-right: 1rem;
        font-family: var(--font-family-primary);
    }
}
.field{
    margin-left: 2rem;
    width: 25%;
}
.btn__buscar{
    background-color: var(--color-primary);
    color: #fff;
}