<div class="px-8">
    <!-- <app-card-menu class="cardMenu py-4" [cardMenu]="cardMenu"></app-card-menu> -->
    <app-route></app-route>
    <app-table  [tableName]="tableName">
        <app-table-user  [successful] = "successful"
            (userDelete)="delete($event)"
            (userSave)="save($event)"
            (userSearch)="search($event)"
            [users]="users"
        [tableName]="tableName"></app-table-user>
        <app-pagination (pageUpdate)="getPage($event)" (sizeUpdate)="getSize($event)" [paginationData]="paginationData"></app-pagination>
    </app-table>
</div>
<!-- MENSAJE DE OPERACION -->
<app-modal-response [title]="msjResponse" [successful]="successful" #modalOk></app-modal-response>
