<div class="px-8">
    <app-route [route] = "route"></app-route>
    <div class="bg-gray-50 p-3 rounded-xl" style="margin-bottom: 10px;">
        <form [formGroup]="group" (ngSubmit)="save()" class="form">

            <div formGroupName="usuarioDTO" class="form__field">
                <div class="field">
                    <app-label-field [title]="'**Apellido Paterno'"></app-label-field>
                    <app-field><input formControlName="pa_surname" class="input plomo-input" type="text" [disabled]="isFieldDisabled"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="pa_surname?.invalid && (pa_surname?.dirty || pa_surname?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Apellido Materno'"></app-label-field>
                    <app-field><input formControlName="ma_surname" readonly class="input plomo-input"  type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="ma_surname?.invalid && (ma_surname?.dirty || ma_surname?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Nombre'"></app-label-field>
                    <app-field><input formControlName="name" readonly class="input plomo-input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Fecha de nacimiento'"></app-label-field>
                    <app-field><input formControlName="birthdate" class="input" type="date"></app-field>
                    <app-required-field class="px-2" *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Teléfono'"></app-label-field>
                    <app-field><input formControlName="tel"maxlength="9"  class="input" type="tel"></app-field>
                    <app-required-field class="px-2" *ngIf="tel?.invalid && (tel?.dirty || tel?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Correo'"></app-label-field>
                    <app-field><input formControlName="email" class="input" type="email"></app-field>
                    <app-required-field class="px-2" *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                        [text]="'**El campo es un correo'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Tipo de documento'"></app-label-field>
                    <app-field><input formControlName="type_doc" class="input plomo-input"  type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="type_doc?.invalid && (type_doc?.dirty || type_doc?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Número de documento'"></app-label-field>
                    <app-field><input formControlName="numdoc" readonly class="input plomo-input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="numdoc?.invalid && (numdoc?.dirty || numdoc?.touched)"
                        [text]="'*El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Usuario'"></app-label-field>
                    <app-field><input formControlName="nombreUsuario" class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="nombreUsuario?.invalid && (nombreUsuario?.dirty || nombreUsuario?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
    
                <div class="field">
                    <app-label-field [title]="'**Grado'"></app-label-field>
                    <select formControlName="gra_inst" class="select cursor-pointer h-10 w-full outline-none px-2">
                        <option value="{{option.value}}" *ngFor="let option of optionsGrade">{{option.title}}</option>
                    </select>
                </div>
            </div>
            <div class="form__field">
                <div class="field">
                    <app-label-field [title]="'**Especialización'"></app-label-field>
                    <app-field><input formControlName="specialty" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="specialty?.invalid && (specialty?.dirty || specialty?.touched)"
                        [text]="'*El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Experiencia'"></app-label-field>
                    <app-field><input formControlName="experience" class="input" type="text"></app-field>
                    <app-required-field class="px-2"
                        *ngIf="experience?.invalid && (experience?.dirty || experience?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
                <div class="field">
                    <app-label-field [title]="'**Dosis'"></app-label-field>
                    <app-field><input formControlName="dose" class="input" type="text"></app-field>
                    <app-required-field class="px-2" *ngIf="dose?.invalid && (dose?.dirty || dose?.touched)"
                        [text]="'**El campo es requerido'"></app-required-field>
                </div>
            </div>
            
            <div class="btns flex py-7 w-full">
                <button type="submit" [disabled]="group.invalid"
                    class="field__input--button w-1/2 mx-2 h-9 rounded-3xl text-white">Guardar</button>
            </div>
        </form>
        <div style="margin-top: 10px;">
            <p style="font-size: 11px;">**Campos obligatorios</p>
        </div>
    </div>

    
</div>

<app-modal-response [title]="msjResponse" [successful]="successful" #modalOk></app-modal-response>

