<div class="container__table">
    <div class="table__search">
        <label><b>{{data.title}}</b></label>
        <div class="btns">
            <!-- <button class="btn btn__buscar" mat-button>Buscar</button>
            <button class="btn btn__export" mat-button>Exportar</button> -->
        </div>
    </div> 
    <table>
        <thead>
            <th>Llamada</th>
            <th>Fecha de llamada</th>
            <th>Hora de inicio</th>
            <th>Hora de fin</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of llamadas">
                <td>{{item.numLlamada}}</td>
                <td>{{item.fechaLectura | date:'longDate'}}</td>
                <td>{{item.horaInicio}}</td>
                <td>{{item.horaFin}}</td>
                <td>
                    <mat-icon>create</mat-icon>
                    <mat-icon>delete</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               aria-label="Select page">
</mat-paginator> -->
</div>
