/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

:root{
    
     //LIGTH
     --primary-color: #3566B1;
     --secondary-color: #FCFC00;
     --const-color-blue:#3566B1;
     --const-color-blue-hover:#457cd1;
     --const-color-yellow:#FCFC00;
     --bg-color: #fff;
     --bg-color-blue: rgb(11, 13, 24);
     --bg-color-blue-hover:rgb(32, 36, 59);
     --text-color-primary:rgb(25,25,30);
     --text-color-secondary:#fff;
     --font-size-subtitle: 2rem;
     --font-size-table: 0.75rem;
     --font-family-primary-Montserrat:'Montserrat', sans-serif;
     --px-router-outlet:5rem;
     //--font-family-primary-ruda:'Ruda', sans-serif;
     // --font-family-secondary-mont:'Montserrat',sans-serif;

    //  //DARK
     //  --primary-color: #FCFC00;
     //  --secondary-color: #3566B1;
     //  --const-color-blue:#3566B1;
     //  --const-color-blue-hover:#457cd1;
     //  --const-color-blue-hover--ligth:#b6cbec;
     //  --const-color-yellow:#FCFC00;
     //  --bg-color:rgb(12, 14, 11);
     //  --bg-color-blue: rgb(11, 13, 24);
     //  --bg-color-blue-hover:rgb(19, 22, 39);
     //  --bg-color-secondary:#fff;
     //  --text-color-primary: #fff;
     //  --text-color--secondary: rgb(22, 20, 20);
     //  //--font-family-primary-ruda:'Ruda', sans-serif;
     //  --font-family-primary-Montserrat:'Montserrat', sans-serif;
}

body{
     font-family: var(--font-family-primary-Montserrat);
     font-size:16px;
}


// @media screen and (max-width:600px) {
//       body{
//            font-size: 10px;
//       }
// }
