    /*MENU <ul>*/
    .nav__options{
        display: flex;
    }

    /*ITEMS*/
        .nav__option{
            flex-grow: 1;
            display: block;
            height: auto;

            & span{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }
        .nav__option:hover{
        
                cursor: pointer;
                .nav__options__secondary{
                    display: block;
                }
        }
        .nav__option__text{
            cursor: pointer;
            font-weight: bold;
            
        }

    /*SUBMENU*/
    .nav__options__secondary{
        position: absolute;
        display: none;
       
        text-align: center;
    }
    .nav__option__secondary{
      padding: 10px;
      background-color: rgb(233, 233, 233);
      color: black;
      font-weight: bold;
     
    }
    .nav__option__secondary:hover{
      background-color: #3464b4;
      color: white;}

    // //li--login
    // .nav__option--login{
    //     display: flex;
    //     align-items: center;
    //     height: 100%;
    // }

    //     //li secondary
    //     .nav__option__secondary{
    //         padding: 0 1rem;
    //     }
    //     //ul secondary login
    //     .nav__options__secondary--login{
    //      position: relative;
    //     }
    //     //li secondary login
    //     .nav__option__secondary--login{
    //         color: var(--bg-color);
    //     }




