
<div class="table__search bg-gray-200 p-3 flex justify-end items-center">
    <label class="mx-4"><b>{{tableName}}</b></label>
    <div class="rounded-3xl bg-slate-50 w-1/3 flex px-4 py-2">
        <i class="bi bi-search"></i>
        <input class="bg-slate-50 w-full outline-none px-6" [(ngModel)]="nomSearch" (ngModelChange)="search($event)"type="search" placeholder="Buscar">
    </div>
    <app-btn-add   (click)="onAddButtonClick()"></app-btn-add>
</div>

<!-- MODAL AGREGAR -->
<app-modal [successful]="successful" (close_modal)="getCloseModal()"  #modalAdd>
    <h1 class="text-center text-3xl font-bold">{{ titulo }}</h1>
    <form  [formGroup]="group" (ngSubmit)="save()" class="form w-full flex flex-wrap justify-between">
        <div class="field">
            <app-label-field [title]="'**Título'"></app-label-field>
            <app-field><input  formControlName="title" class="input" type="text"></app-field>
            <app-required-field class="px-2" *ngIf="title?.invalid && (title?.dirty || title?.touched)" [text]="'**El campo es requerido'"></app-required-field>
        </div>
        <div class="field">
            <app-label-field [title]="'**Sumilla'"></app-label-field>
            <app-field><input formControlName="sommelier" class="input" type="text"></app-field>
            <app-required-field class="px-2" *ngIf="sommelier?.invalid && (sommelier?.dirty || sommelier?.touched)" [text]="'**El campo requiere 9 caracteres'"></app-required-field>
        </div>
        <app-label-field [title]="'**Descripción'"></app-label-field>
        <textarea  formControlName="descrip" name="textarea" rows="5" class="textArea w-full"></textarea>
        <app-required-field class="px-2" *ngIf="descrip?.invalid && (descrip?.dirty || descrip?.touched)" [text]="'*El campo es requerido'"></app-required-field>
        <div class="field">
            <app-label-field [title]="'**Fecha'"></app-label-field>
            <app-field><input formControlName="date" class="input" type="date"></app-field>
            <app-required-field class="px-2" *ngIf="date?.invalid && (date?.dirty || date?.touched)" [text]="'*El campo es requerido'"></app-required-field>
        </div>
        <div *ngIf="editar" style="text-align: center;">
            <div>
                <img src="{{item.route}}" alt="" width="250px">
            </div>
            <br>
            <div>
                <button type="button" style="color: red;" (click)="eliminar()">Eliminar</button>
            </div>
        </div>
        <div class="" *ngIf="!editar">
            <app-label-field [title]="'**Imagen'"></app-label-field>
            <input (change)="captureFile($event)" class="input" type="file">
            <!-- <app-required-field class="px-2" *ngIf="imagen?.invalid && (imagen?.dirty || imagen?.touched)" [text]="'*El campo es requerido'"></app-required-field> -->
        </div>
        <div style="margin-top: 10px;">
            <p style="font-size: 11px;">**Campos obligatorios</p>
        </div>
        <div class="flex py-7 w-full">
            <button type="submit" [disabled]="group.invalid || !imagenSelected" class="field__input--button w-1/2 mx-2 h-full rounded-3xl text-white">Guardar</button>
            <app-btn-cancel (click)="modalAdd.cancelar()" class="w-1/2 mx-2"></app-btn-cancel>
        </div>
    </form>
</app-modal>

<table class="table bg-gray-50">
    <thead>
        <th *ngFor="let item of head">{{item}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of news, let i=index">
            <td>{{item.title}}</td>
            <td>{{item.sommelier}}</td>
            <td>{{item.descrip}}</td>
            <td>{{item.date}}</td>
            <td style="text-align: center;"><img src="{{item.route}}" alt="" width="100px"></td>
            <td class="flex justify-center">
                <app-btn-update (click)="form(item)" (click)="onUpdateButtonClick(item)"></app-btn-update>
                <app-btn-delete (click)="modalDelete.showModal()"></app-btn-delete>
            </td>
            <!-- MODAL ELIMINAR -->
            <app-modal [title]="'¿Eliminar noticia?'" #modalDelete>
                <div class="flex flex-col items-start px-4">
                    <label><b>Título: </b>{{item.title}}</label>
                </div>
                <div class="flex py-7 w-full">
                    <app-btn-cancel (click)="modalDelete.cancelar()" class="w-1/2 mx-2"></app-btn-cancel>
                    <app-btn-confirm-delete (click)="delete(item.id)" class="w-1/2 mx-2"></app-btn-confirm-delete>
                </div>
            </app-modal>
        </tr>
    </tbody>
</table>
